<html>
<head>
    <title>Family Friday Grouper</title>
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
</head>
<body>
    <div>
    <form action="/" method="POST">
        <label for="first-name">First name: </label>
        <input type="text" name="first-name" id="first-name"><br>
        <label for="last-name">Last name: </label>
        <input type="text" name="last-name" id="last-name"><br><br>
        <input type="submit" value="Add Team Member">
    </form>
    </div>
    <input type="button" id="get-groups" value="Get Groups">
    <div id="groups">
    </div>
    <script>

        function showGroups(result) {
            // $('#groups').html(result);
            for (var i=0; i < result.length; i++) {
                $('#groups').append(result[i]);
                }
            }

        function makeGroups() {
            $('#groups').empty();
            $.get("/get_tables", showGroups);
            }

        $('#get-groups').on('click', makeGroups);

    </script>
</body>
</html>
