<html>
<head>
    <title>Family Friday</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    <div id="groups" class="to-fill">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <br>
    <input type="button" id="get-groups" value="Get Groups" class="btn btn-success">
    <br>
    <br>
    <div>
        <form action="/" method="POST">
            <label for="first-name">First name: </label>
            <input type="text" name="first-name" id="first-name"><br>
            <label for="last-name">Last name: </label>
            <input type="text" name="last-name" id="last-name"><br><br>
            <input type="radio" name="action" value="add" id="add">
            <label for="add">Add Team Member</label>
            <input type="radio" name="action" value="disable" id="disable">
            <label for="disable">Disable Team Member</label>
            <input type="radio" name="action" value="reactivate" id="reactivate">
            <label for="reactivate">Reactivate Team Member</label><br>
            <input type="submit" value="Submit" class="btn btn-success">
        </form>
    </div>
    <script>
        function showGroups(result) {
            var groups = JSON.parse(result);
            for (var i=0; i < groups.length; i++) {
                console.log(i);
                $('#groups').append("<div>" + groups[i].join(", ") + "</div>");
                $('#groups').append("<br>")
                }
            }
        function makeGroups() {
            $('#groups').empty();
            $.get("/get_tables", showGroups);
            }
        $('#get-groups').on('click', makeGroups);
    </script>
</body>
</html>
